<%- include('../partials/head') %>
<body class="bg-gradient-to-br from-blue-50 via-white to-purple-100 min-h-screen font-sans">
  <%- include('../partials/nav') %>
  <main class="flex flex-col items-center justify-center py-12 px-4">
    <h1 class="text-3xl font-bold text-gray-800 mb-2 tracking-wide">Host Student List</h1>
    <div class="w-[90%]  flex flex-col gap-3 ">
      <% registeredStudent.forEach((student)=>{ %>
        
        <div  class=" bg-white/70 backdrop-blur-md shadow-2xl rounded-3xl overflow-hidden border border-blue-200 px-5 py-2 flex  justify-between items-center">
          <h1>StudentName: <%= student.studentName %></h1>
          <div class="flex flex-row  gap-3">
            <a class="border px-10 py-2 rounded bg-yellow-400" href="/host-Edit-Student-details/<%= student.id %>?editing=true">Edit</a>

            <form action="/delete-student-details/<%= student.id %>" method="POST">
              <button type="submit" class="border px-7 py-2 rounded bg-red-600" href="#">Delete</button>
            </form>
          </div>
        </div>  
      <% }) %>

    </div>
  </main>

</body>
</html>